<template name="twitterContacts">

	{{#each contacts}}
		{{> eachTwitterContact}}
	{{/each}}

</template>

<template name="eachTwitterContact">
	
	<div class="allContactsContainer">

		<div class="allContactsPerRowContainer" horizontal layout>

			<paper-shadow z="2" class="perContactRowContainer" style="width:45%; background-color: #fff; height:100px;" horizontal layout> 

				<img src="/images/akash.jpg" style="max-width:100px; max-height:100px;">

				<div class="avatarSocioIcons" flex style="padding-left:32px; padding-top:16px;">

					<div class="contactName" style="color:rgba(0,0,0,0.6); font-size:20px; font-weight:bold; padding-left:10px; margin-bottom:6px;">Akash Babu <span style="font-weight:normal; color:rgba(0,0,0,0.6); font-size:14px;">[$213 from 4 visits]</span></div>

					<paper-icon-button class="contactSocialIcons facebookColour" icon="social-post:facebook" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons twitterColour" icon="social-post:twitter" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons" icon="social-post:instagram" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons goolgePlusRedColor" icon="mail" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons phoneIconColor" icon="hardware:phone-android" flex></paper-icon-button>

					<img src="/images/loyalty_score.jpg" style="top:-4px;">

				</div>

			</paper-shadow>

		</div>

	</div>

</template>