/* CSS declarations go here */

body {
	font-family: "Roboto";
}

core-toolbar {
	background:	rgba(0,0,0,0.6);
	color: #FFF;
}

.content {
	padding: 40px;
}

.card {
	padding: 40px;
}

.facebookColour {
	color: #3b5998 ;
}

.twitterColour {
	color: #4099FF
}