/* CSS declarations go here */

body {
	font-family: "Roboto";
}

core-toolbar {
	background:	rgba(0,0,0,0.6);
	color: #FFF;
}

.content {
	padding: 40px;
}

.facebookColour {
	color: #3b5998 ;
}

.twitterColour {
	color: #4099FF
}

.goolgePlusRedColor {
	color: #dd4b39;
}

.contactSocialIcons {
	padding:8px;
}

.phoneIconColor {
	color: #00AFF0;
}