<template name="facebookContacts">

	<div
	  class="fb-like"
	  data-send="true"
	  data-width="450"
	  data-show-faces="true">
	</div>

	<div class="allContactsContainer">
		{{#each facebookContactsHelper}}
			{{#if contactsColumnHelperIsOdd}}
				{{> eachFacebookContactOdd}}
			{{else}}
				{{> eachFacebookContactEven}}
			{{/if}}
		{{/each}}
	</div>

</template>

<template name="eachFacebookContactOdd">

			<paper-shadow z="2" class="perContactRowContainer" style="width:45%; background-color: #fff; height:100px; margin-bottom:32px;" horizontal layout> 

				<img src="{{twitterFollowerProfilePicURL}}" style="max-width:48px; max-height:48px;">

				<div class="avatarSocioIcons" flex style="padding-left:32px; padding-top:16px;">

					<div class="contactName" style="color:rgba(0,0,0,0.6); font-size:20px; font-weight:bold; padding-left:10px; margin-bottom:6px;">{{twitterFollowerName}}</div>

					<paper-icon-button class="contactSocialIcons facebookColour" icon="social-post:facebook" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons twitterColour" icon="social-post:twitter" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons" icon="social-post:instagram" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons goolgePlusRedColor" icon="mail" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons phoneIconColor" icon="hardware:phone-android" flex></paper-icon-button>

					<img src="/images/loyalty_score.jpg" style="top:-4px;">

				</div>

			</paper-shadow>

			<span flex></span>

</template>

<template name="eachFacebookContactEven">

			<paper-shadow z="2" class="perContactRowContainer" style="width:45%; background-color: #fff; height:100px; margin-left:55%; margin-top:-132px; margin-bottom:32px;" horizontal layout> 

				<img src="{{twitterFollowerProfilePicURL}}" style="max-width:48px; max-height:48px;">

				<div class="avatarSocioIcons" flex style="padding-left:32px; padding-top:16px;">

					<div class="contactName" style="color:rgba(0,0,0,0.6); font-size:20px; font-weight:bold; padding-left:10px; margin-bottom:6px;">{{twitterFollowerName}}</div>

					<paper-icon-button class="contactSocialIcons facebookColour" icon="social-post:facebook" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons twitterColour" icon="social-post:twitter" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons" icon="social-post:instagram" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons goolgePlusRedColor" icon="mail" flex></paper-icon-button>

					<paper-icon-button class="contactSocialIcons phoneIconColor" icon="hardware:phone-android" flex></paper-icon-button>

					<img src="/images/loyalty_score.jpg" style="top:-4px;">

				</div>

			</paper-shadow>

</template>