<template name="socialFeedContent">

			<div class="allFeedsContainer">

				<div class="feedCardContainer" style="padding-bottom:32px;">

					<paper-shadow z="1" style="width:100%; background-color: #fff; height:120px;">

						<div class="perFeedRowContainer" horizontal layout>

							<img src="/images/akash.jpg" style="width:40px; height:40px; padding-left:32px; padding-top:22px;">

							<div class="feedContainer" three flex style="padding-left:32px; padding-top:22px; padding-right:22px;">

								<div class="feedMetaContainer" horizontal layout>

									<core-icon class="facebookColour" icon="social-post:facebook"></core-icon>
								
									<div class="contactName" style="color:rgba(0,0,0,0.6); font-size:14px; font-weight:bold; padding-left:12px; padding-top:4px;">Akash Babu<span style="font-weight:normal; color:rgba(0,0,0,0.6); font-size:14px;"> - April 26 at 10:13am</span></div>

									<span flex></span>

									<core-icon icon="launch" style="color:#025FA9;"></core-icon>

								</div>

								<div class="feedMessageContainer" style="font-size:14px; padding-top:12px; color:#262626;">
									
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

								</div>

							</div>
							
						</div>

					</paper-shadow>

				</div>

				<div class="feedCardContainer" style="padding-bottom:32px;">

					<paper-shadow z="1" style="width:100%; background-color: #fff; height:120px;">

						<div class="perFeedRowContainer" horizontal layout>

							<img src="/images/akash.jpg" style="width:40px; height:40px; padding-left:32px; padding-top:22px;">

							<div class="feedContainer" three flex style="padding-left:32px; padding-top:22px; padding-right:22px;">

								<div class="feedMetaContainer" horizontal layout>

									<core-icon class="facebookColour" icon="social-post:facebook"></core-icon>
								
									<div class="contactName" style="color:rgba(0,0,0,0.6); font-size:14px; font-weight:bold; padding-left:12px; padding-top:4px;">Akash Babu<span style="font-weight:normal; color:rgba(0,0,0,0.6); font-size:14px;"> - April 26 at 10:13am</span></div>

									<span flex></span>

									<core-icon icon="launch" style="color:#025FA9;"></core-icon>

								</div>

								<div class="feedMessageContainer" style="font-size:14px; padding-top:12px; color:#262626;">
									
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

								</div>

							</div>
							
						</div>

					</paper-shadow>

				</div>

				<div class="feedCardContainer" style="padding-bottom:32px;">

					<paper-shadow z="1" style="width:100%; background-color: #fff; height:120px;">

						<div class="perFeedRowContainer" horizontal layout>

							<img src="/images/akash.jpg" style="width:40px; height:40px; padding-left:32px; padding-top:22px;">

							<div class="feedContainer" three flex style="padding-left:32px; padding-top:22px; padding-right:22px;">

								<div class="feedMetaContainer" horizontal layout>

									<core-icon class="facebookColour" icon="social-post:facebook"></core-icon>
								
									<div class="contactName" style="color:rgba(0,0,0,0.6); font-size:14px; font-weight:bold; padding-left:12px; padding-top:4px;">Akash Babu<span style="font-weight:normal; color:rgba(0,0,0,0.6); font-size:14px;"> - April 26 at 10:13am</span></div>

									<span flex></span>

									<core-icon icon="launch" style="color:#025FA9;"></core-icon>

								</div>

								<div class="feedMessageContainer" style="font-size:14px; padding-top:12px; color:#262626;">
									
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

								</div>

							</div>
							
						</div>

					</paper-shadow>

				</div>

				<div class="feedCardContainer" style="padding-bottom:32px;">

					<paper-shadow z="1" style="width:100%; background-color: #fff; height:120px;">

						<div class="perFeedRowContainer" horizontal layout>

							<img src="/images/akash.jpg" style="width:40px; height:40px; padding-left:32px; padding-top:22px;">

							<div class="feedContainer" three flex style="padding-left:32px; padding-top:22px; padding-right:22px;">

								<div class="feedMetaContainer" horizontal layout>

									<core-icon class="facebookColour" icon="social-post:facebook"></core-icon>
								
									<div class="contactName" style="color:rgba(0,0,0,0.6); font-size:14px; font-weight:bold; padding-left:12px; padding-top:4px;">Akash Babu<span style="font-weight:normal; color:rgba(0,0,0,0.6); font-size:14px;"> - April 26 at 10:13am</span></div>

									<span flex></span>

									<core-icon icon="launch" style="color:#025FA9;"></core-icon>

								</div>

								<div class="feedMessageContainer" style="font-size:14px; padding-top:12px; color:#262626;">
									
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

								</div>

							</div>
							
						</div>

					</paper-shadow>

				</div>

			</div>
			
</template>